body{
    margin: 0%;

}
.app{
    height: 100vh;
    display:flex;
    background-color: #020230;
    color: white;

    

}


.Main {  
    width: 75%;
    background: linear-gradient(to bottom, rgba(0, 0,0, 0),#020230), url("./assets/bg.jpg");
     display: flex;
     align-content: center;
    
    
}


.pyramid{
    width: 25%;
    background-color:#020230;
  
}
  .moneyListItems{
      list-style-type: none;
      border-radius: 5px;
       display: flex;
       padding: 5px;
       margin: 7px;
       

  }

  .moneyListItems.active{
    background-color: teal;
  }

.moneyListItemNumber{
    width: 50%;
    font-size: 18px;
    font-weight: 100;
     
   
}

.top{ 
     
     border-radius: 50%;
     border-color: black;
     background-color: transparent;
     width: 11%;
    
     margin: 4px;
     color:black ;
  


   

}


.timer{
    position:absolute;
    font-size: 60px;
    font-weight:400;
    color: white;
    
}
.bottom{
    position:relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 59px;
   
}

.quiz{
    margin-top: 80%;
     height: 50%;
     display: flex;
     flex-direction: column;
      align-items: center;
    justify-content: center;
    position: relative;

    
}

.input1{
  
   width: 185%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;



}

.answer{
   
   width: 40%;
   padding: 5px;
   align-items: center;
    font-size: 20px;
    border-radius: 15px;
    border: 5px solid black;
    cursor: pointer;
    background:
     linear-gradient(#22074d);
     color: white;
      margin: 5px;
    text-align: center;
    
     
}

.questions{

    width: 150%;
    font-size: 30px;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: 5px solid black;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    
   
   
    
    
}

.answer:hover{
    background:  mediumblue;
}




/* correct answer */
.input1 .answer.correct{
   animation: correct 3s ease forwards;
}


 
@keyframes correct{
    0%,
    23%,
    50%{
        background: mediumblue;
    }

    20%,
    46%,
    60%{
         background: linear-gradient(#22074d);
    }

    62%,100%{
               background: green;
    }
}

/* wrong answer */

.input1 .answer.wrong {
   animation: wrong 3s ease forwards;
}


 
@keyframes wrong{
    0%,
    23%,
    50%{
        background: mediumblue;
    }

    20%,
    46%,
    60%{
         background: linear-gradient(#22074d);
    }

    62%,100%{
               background: red;
    }
}

.display{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}

.quit button{
            
             width: 100%;
             background-color: transparent;
             color: white;
             border: transparent;
             font-size: 20px;
    }
    .quit{
           
            top: -190px;
            padding: 5px;
           background-color: black;
            width: 100%;
            margin-right: -30px;
            position:absolute;
            border-radius: 20px;
            border: 3px solid white;
    }

.quit:hover{
  background: #22074d;
}


@media (max-width: 900px){
    .app{
        
        width: 100%;
        flex-direction: column;
     

    }

    .Main{
        width: 100%;
        
    }
    .quiz{
           width: 100%;
       
        justify-content: center;
        text-align: center;
        margin-left: 100px;
    }

    .pyramid{
        width: 100%;
        order: 2;
        justify-content: center;
        text-align: center;
        
        

    }

    .answer{
        width: 100%;  /* single column on mobile */
    }
}



@media (max-width: 560px){
    .app{
        
        width: 100%;
        flex-direction: column;
     

    }
    
    .Main{
        width: 100%;
        
        
    }
      

    .quiz{
         width: 100%;
       
        justify-content: center;
        text-align: center;
        margin-left: 100px;
        
        
    }
      .quit{
        top: -250px;
        margin-left: 210px;

    
        width: 100%;
        padding:0px;
        
        
        
        
        
      }
           
      .quit button{
        align-items: center;
        justify-content: center;
      }
            

            
            
            
    
    .top{
        margin-right: -30px;
         

    }

    .timer{
         margin-left: 30px;
         margin-top: -7px;
    }
    .pyramid{
        width: 100%;
        order: 2;
        justify-content: center;
        text-align: center;
       
        
       
        
        
        

    }

    .answer{
        width: 100%;  /* single column on mobile */
    }



}